* {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;



}

body {
    background: #41998C;

}

.Nav {
    display: flex;
    flex-direction: column;
    background: #F597A9;
    width: 100%;
    //top: 0px;
    height: 50px;
    position: relative;
    z-index: 999%;
    position: relative;


}

.fa-bars {
    color: whitesmoke;
    font-size: 30px;
    padding: 10px 10px;

}

.nav_container {
    visibility: hidden;
    margin: 0 auto;
    background-color: #F597A9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 999;


}

.Nav_container-item {
    background-color: #F597A9;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    z-index: 999;



    .Nav_container-item-elm {

        font-size: 30px;
        padding: 10px 10px;
        font-weight: bold;
        color: whitesmoke;
        position: relative;
        z-index: 999;


    }

    .Nav_container-item-elm:hover {
        color: #41998C;
        font-size: 40px;
    }

}